/*global
========================*/

body {
  position: relative;
  font-family: PTSans-Regular, Arial, sans-serif;
  font-size: 8px;
  @media (min-width: 1280px) {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 280px;
  @media (min-width: 1280px) {
    width: 1263px;
  }
}

img {
  max-width: 100%;
  height: auto;
  outline: none;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrap {
  display: flex;
  justify-content: center;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

h2 {
  font-family: PTSansCaptionBold, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media (min-width: 1280px) {
    font-size: 50px;
    margin-bottom: 50px;
  }
}

h3 {
  font-family: PTSansCaptionBold, Arial, sans-serif;
  font-size: 8px;
  margin-bottom: 0;
  @media (min-width: 1280px) {
    font-size: 22px;
    margin-bottom: 0;
  }
}

.img-mob{
  @media (min-width: 1280px) {
    display: none;
  }
}

.img-desk {
  display: none;
  @media (min-width: 1280px) {
    display: block;
  }
}