.catalog {
  padding-bottom: 18px;
  border-bottom: 3px solid #9a3335;
  @media (min-width: 1280px) {
    padding-bottom: 85px;
    border-bottom: 5px solid #9a3335;
  }
}

.catalog__menu {
  padding: 13px 0;
}

.catalog__container-mob {
  background-color: #c6c6c7;
  @media (min-width: 1280px) {
    display: none;
  }
}

.catalog__menu-wrap-mob {
  font-size: 20px;
  height: 30px;
  width: 280px;
  background: #fff;
  overflow: hidden;
}

.catalog__list {
  height: 49px;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #c6c6c7;
  cursor: pointer;
}

.catalog__list-item {
  display: inline-block;
  font-family: PTSansCaptionBold, Arial, sans-serif;
  font-size: 13px;
  height: 22px;
  padding: 7px 5px;
  margin-right: -5px;
}

.catalog__list-item:hover {
  background-color: #9a3335;
  color: white;
}

.catalog__list-item--active {
  background-color: #9a3335;
  color: white;
}

.catalog__menu-wrap {
  background-color: #c6c6c7;
  display: none;
  @media (min-width: 1280px) {
    display: block;
  }
}

.catalog__menu-item {
  font-family: PTSansCaptionBold, Arial, sans-serif;
  font-size: 22px;
  color: black;
  padding: 12px 20px;
  margin-right: -6px;
}

.catalog__menu-item:hover {
  background-color: #9a3335;
  color: white;
}

.catalog__menu-item--active {
  background-color: #9a3335;
  color: white;
}

.catalog__item1-description {
  font-family: PtSerifCaption, Arial, sans-serif;
  font-size: 10px;
  margin-bottom: 20px;
  line-height: 12px;
  @media (min-width: 1280px) {
    font-size: 25px;
    width: 938px;
    margin-bottom: 50px;
    line-height: 38px;
  }
}

.catalog__item2-description {
  font-family: PtSerifCaption, Arial, sans-serif;
  font-size: 10px;
  margin-bottom: 20px;
  line-height: 12px;
  @media (min-width: 1280px) {
    font-size: 25px;
    width: 938px;
    margin-bottom: 50px;
    line-height: 38px;
  }
}

.catalog__item3-description {
  font-family: PtSerifCaption, Arial, sans-serif;
  font-size: 10px;
  margin-bottom: 20px;
  line-height: 12px;
  @media (min-width: 1280px) {
    font-size: 25px;
    width: 938px;
    margin-bottom: 50px;
    line-height: 38px;
  }
}

.catalog__item1-images,
.catalog__item2-images,
.catalog__item4-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
  @media (min-width: 1280px) {
    width: 1260px;
  }
}

.catalog__item1-image,
.catalog__item2-image,
.catalog__item4-image {
  border: 1px solid black;
  padding: 10px 0 70px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  @media (min-width: 1280px) {
    padding: 0;
  }
}

.catalog__item3-image {
  border: 1px solid black;
  padding: 10px 0 70px 0;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  @media (min-width: 1280px) {
    padding: 0 30px 20px 30px;
  }
}

.catalog__item1-image,
.catalog__item2-image,
.catalog__item3-image,
.catalog__item4-image {
  margin-bottom: 15px;
}

.catalog__item1-image:hover,
.catalog__item2-image:hover,
.catalog__item3-image:hover,
.catalog__item4-image:hover {
  margin: -2px -2px 13px -2px;
  border: 3px solid #9a3335;
}

.catalog__item1-image:first-child,
.catalog__item1-image:nth-child(2),
.catalog__item2-image:first-child,
.catalog__item2-image:nth-child(2),
.catalog__item2-image:nth-child(3),
.catalog__item4-image:nth-child(1),
.catalog__item4-image:nth-child(3),
.catalog__item4-image:nth-child(4),
.catalog__item4-image:nth-child(5),
.catalog__item4-image:nth-child(2){
  @media (min-width: 1280px) {
    margin-bottom: 22px;
  }
}

.catalog__item1-text,
.catalog__item2-text{
  position: absolute;
  left: 10px;
  top: 145px;
  @media (min-width: 1280px) {
    top: 0;
    left: 29px;
  }
}

.catalog__title {
  width: 112px;
  @media (min-width: 1280px) {
    width: 297px;
  }
}

.catalog__item1-priceNarrow {
  width: 267px;
}

.catalog__item1-button {
  width: 39px;
  height: 10px;
  background-color: #9a3335;
  font-size: 7px;
  color: white;
  border-radius: 2px;
  @media (min-width: 1280px) {
    font-size: 0;
    width: 146px;
    height: 46px;
    background: url("../img/buttons/buy.png") 0 0 no-repeat;
  }
}

.catalog__item1-button:active {
  @media (min-width: 1280px) {
    background: url("../img/buttons/buy.png") -146px 0 no-repeat;
  }
}

.catalog__item1-price-yes {
  font-family: PTSansCaptionBold, Arial, sans-serif;
  font-size: 22px;
  margin: 2px 0 0;
  color: #9a3335;
  @media (min-width: 1280px) {
    font-size: 50px;
    margin: 0 0 10px;
    color: #9a3335;
  }
}

.catalog__item1-price-no {
  font-family: PTSans-BoldItalic, Arial, sans-serif;
  font-size: 8px;
  margin: 0 0 18px;
  @media (min-width: 1280px) {
    font-size: 22px;
    margin: 0 0 20px;
  }
}

.catalog__item-price-big {
  margin-bottom: 9px;
}

.catalog__title-narrow {
  @media (min-width: 1280px) {
    width: 233px;
  }
}

.catalog__item3-wrap {
  display: flex;
  flex-direction: column;
  @media (min-width: 1280px) {
    flex-direction: row;
  }
}

.catalog__item3-block1 {
  display: flex;
  justify-content: space-between;
  @media (min-width: 1280px) {
    display: block;
    margin-right: 35px;
  }
}

.catalog__item3-block2 {
  display: flex;
  justify-content: space-between;
}

.catalog__item3-image1 {
  @media (min-width: 1280px) {
    margin-bottom: 20px;
  }
}

.catalog__item3-image3 {
  @media (min-width: 1280px) {
    margin-right: 35px;
    padding-top: 130px;
  }
}

.catalog__item3-image3:hover {
  @media (min-width: 1280px) {
    margin-right: 33px;
  }
}

.catalog__item3-image4 {
  @media (min-width: 1280px) {
    padding-top: 130px;
  }
}

.catalog__item5 {
  background: url("../img/catalog/consumables/consumables-mob.jpg") no-repeat;
  p {
    margin-bottom: 10px;
    @media (min-width: 1280px) {
      margin-bottom: 10px;
      margin-top: -21px;
    }
  }
  @media (min-width: 1280px) {
    background: url("../img/catalog/consumables/consumables.jpg") -19px 0 no-repeat;
  }
}

.catalog__item5-list {
  font-family: PtSerifCaption, Arial, sans-serif;
  font-size: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 12px;
  @media (min-width: 1280px) {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 47px;
  }
}

.catalog__item5-item {
  color: #9c3335;
}

.catalog__item5-button-mob,
.catalog__item6-button-mob {
  width: 239px;
  height: 39px;
  background-color: #9c3335;
  border-radius: 2px;
  font-family: PTSansCaptionBold, Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  display: block;
  margin: 290px auto 30px;
  @media (min-width: 1280px) {
    display: none;
  }
}

.catalog__item5-button,
.catalog__item6-button {
  @media (min-width: 1280px) {
    width: 146px;
    height: 46px;
    background: url("../img/buttons/buy.png") no-repeat;
  }
}

.catalog__item5-button {
  @media (min-width: 1280px) {
    margin-bottom: 328px;
  }
}

.catalog__item6-button:active,
.catalog__item5-button:active {
  @media (min-width: 1280px) {
    background: url("../img/buttons/buy.png") -146px 0 no-repeat;
  }
}

.catalog__item6 {
  background: url("../img/catalog/burner/burner-mob.jpg") no-repeat;
  @media (min-width: 1280px) {
    background: url("../img/catalog/burner/burner.jpg") no-repeat;
  }
}

.catalog__item6-button {
  @media (min-width: 1280px) {
    margin-bottom: 690px;
  }
}

.catalog__item {
  display: none;
}

.catalog__item--active {
  display: block;
}

.catalog__img-big {
  @media (min-width: 1280px) {
    padding: 105px 25px 30px;
  }
}


.catalog__img-midl {
  @media (min-width: 1280px) {
    padding: 185px 40px 30px;
  }
}

.catalog__item-hover:hover {
   @media (min-width: 1280px) {
     margin-bottom: 20px;
   }
 }


.catalog__item3-image1:hover {
  @media (min-width: 1280px) {
    margin-bottom: 18px;
  }
}

.catalog__img-small {
  @media (min-width: 1280px) {
    padding: 105px 30px 30px;
  }
}

