/*Equipment-selection
========================*/

.equipment-selection {
  border-bottom: 12px solid #9a3335;
  @media (min-width: 1280px) {
    background: url("../img/bgEquipment.jpg") no-repeat;
    background-size: cover;
  }
}

.equipment-selection__wrap {
  padding: 16px 0 47px;
  p {
    font-family: PtSerifCaption, Arial, sans-serif;
    font-size: 10px;
    width: 280px;
    margin-bottom: 17px;
    line-height: 12px;
    span {
      color: #9a3335
    }
    @media (min-width: 1280px) {
      font-size: 25px;
      width: 752px;
      margin-bottom: 50px;
      line-height: 36px;
    }
  }
  @media (min-width: 1280px) {
    padding: 90px 0 70px;
  }
}

.equipment-selection__button-mob {
  width: 239px;
  height: 39px;
  border-radius: 2px;
  background-color: #9a3335;
  text-transform: uppercase;
  color: white;
  font-family: PTSansCaptionBold, Arial, sans-serif;
  font-size: 20px;
  margin: 0 auto;
  display: block;
  @media (min-width: 1280px) {
    display: none;
  }
}

.equipment-selection__button {
  width: 265px;
  height: 67px;
  background: url("../img/buttons/choose.png") 0 0 no-repeat;
  display: none;
  @media (min-width: 1280px) {
    display: block;
  }
}

.equipment-selection__button:active {
  background: url("../img/buttons/choose.png") -265px 0 no-repeat;
}
