.header {
  padding: 28px 0 30px;
  border-bottom: 12px solid #3c3c3b;
  display: none;
  @media (min-width: 1280px) {
    display: block;
  }
}

.header__wrap {
  display: flex;
}

.header_menu {
  font-family: PTSansCaptionBold, Arial, sans-serif;
  font-size: 22px;
  margin-top: 10px;
  height: 31px;
  a {
    color: black;
    padding: 0 16px;
  }
  a:hover {
    border: 3px solid #9a3335;
    border-radius: 10px;
    padding: 0 13px;
  }
}

.header__logo {
  margin-right: 30px;
}

.header__contacts {
  margin-left: 96px;
  margin-right: 48px;
}

.header__phone {
  font-family: PTSans-Bold, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
}

.header__phone-text {
  font-size: 13px;
  text-align: right;
  margin: 0;
}

.header__email {
  margin-right: 25px;
  width: 56px;
  height: 46px;
  background: url("../img/buttons/mail.png") 0 0 no-repeat;
}

.header__email:active {
  background: url("../img/buttons/mail.png") -55px 0 no-repeat;
}

.header__order {
  width: 211px;
  height: 46px;
  background: url("../img/buttons/phone.png") 0 0 no-repeat;
}

.header__order:active {
  background: url("../img/buttons/phone.png") -211px 0 no-repeat;
}