.map__text {
  background-color: #9e3335;
  padding: 43px 0 35px;
  color: white;
}

.map__title {
  font-family: PTSansCaptionBold, Arial, sans-serif;
  font-size: 28px;
  margin: 0;
}

.map__section {
  font-family: PTSans-Bold, Arial, sans-serif;
  font-size: 12px;
  margin: 20px 0 10px;
}

.map__section-text {
  font-family: PTSans-Bold, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  line-height: 24px;
}

.map__clarification {
  font-size: 10px;
  margin: 5px 0 35px;
}

.map__section-margin {
  margin-bottom: 35px;
}

.map__area {
  min-height: 405px;
}