/*Order2
========================*/

.order2 {
  padding: 10px 29px 172px;
  position: fixed;
  top: 15px;
  left: 50%;
  margin-left: -171px;
  z-index: 999;
  background-color: #fff;
  display: none;
  min-height: 700px;
  h2 {
    text-align: center;
  }
  label {
    display: block;
    font-family: PTSans-Bold, Arial, sans-serif;
    font-size: 12px;
  }
}

.order2__step {
  font-size: 12px;
  text-align: center;
}

.order2_select {
  display: none;
  outline: none;
  width: 280px;
  height: 36px;
}

.order2__clarification {
  font-size: 7px;
  margin: 0;
}

.order2__wrap {
  margin-bottom: 0;
}

.order2__submit {
  width: 29px;
  height: 23px;
  background-image: url(../img/bt-mb2.png);
  background-size: cover;
  font-size: 0;
  border: none;
  float: left;
  margin-right: 5px;
  cursor: pointer;
}

.order2__load {
  margin-bottom: 0;
  span {
    font-size: 7px;
    margin-bottom: 5px;
  }
}

.order2__file {
  margin: 4px 0 0;
  font-size: 10px;
}

.order2__comment-text {
  margin-top: 15px;
}

.order2__comment {
  border: 2px solid #3c3c3b;
  border-radius: 7px;
  outline: none;
  width: 269px;
  resize: none;
  padding-top: 3px;
  padding-left: 3px;
}

.order2__button {
  display: block;
  margin: 23px auto 0;
  width: 230px;
  height: 39px;
  background-color: #9e3335;
  border: none;
  outline: none;
  font-family: PTSans-Bold, Arial, sans-serif;
  font-size: 20px;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}