/*Order1
========================*/

.order1 {
  padding: 10px 29px 172px;
  margin: 0 auto;
  background-color: #fff;
  display: block;
  h2 {
    text-align: center;
  }
  label {
    display: block;
    padding-left: 10px;
    font-family: PTSans-Bold, Arial, sans-serif;
    font-size: 12px;
  }
}

.order1__input {
  width: 252px;
  border: 2px solid #3c3c3b;
  border-radius: 7px;
  outline: none;
  height: 33px;
  padding-left: 10px;
  font-size: 12px;
  display: block;
  margin: 0 auto 10px;
}

.order1__step {
  font-size: 12px;
  text-align: center;
}

.order1__communications {
  font-family: PtSerifCaption, Arial, sans-serif;
  font-size: 9px;
}

.order1__regulations {
  line-height: 13px;
}

.order1__red {
  color: #9e3335;
}

.order1__button {
  display: block;
  margin: 23px auto 0;
  width: 230px;
  height: 39px;
  background-color: #9e3335;
  border: none;
  outline: none;
  font-family: PTSans-Bold, Arial, sans-serif;
  font-size: 20px;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}