/*Partner
========================*/

.partners {
  @media (min-width: 1280px) {
    padding: 64px 0 60px;
  }
}

.partners__title {
  display: none;
  @media (min-width: 1280px) {
    display: block;
  }
}

.partners__wrap {
  display: none;
  @media (min-width: 1280px) {
    display: flex;
  }
}

.partners__logos {
  width: 700px;
}

.partners__items {
  margin-top: -43px;
  width: 521px;
  position: relative;
}

.partners__item {
  position: absolute;
  background-color: #fff;
  height: 645px;
  display: none;
}


.partners__item-title {
  font-family: PtSerifCaption, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.partners__logo {
  border: 1px solid #3c3c3b;
  border-radius: 10px;
  cursor: pointer;
}

.partners__logo--active {
  margin: -2px;
  border: 3px solid #9c3335;
}

.partners__logo:hover {
  margin: -2px;
  border: 3px solid #9c3335;
}

.partners__item-text {
  font-size: 18px;
  line-height: 25px;
}

.partners__item--active {
  display: block;
}