/*Slider
========================*/

.slider {
  padding-top: 62px;
  @media (min-width: 1280px) {
    padding-top: 120px;
  }
}

.slider__wrap {
  @media (min-width: 1297px) {
    width: 1280px;
    margin: 0 auto;
    border-bottom: 12px solid #9a3335;
  }
}

.middle__slider_item {
  display: none ;
}

.middle__slider_item:first-child {
  display: block ;
}

.slick-initialized .middle__slider_item {
  display: block ;
}

.slider__list img{
  opacity: 0;
}